{% extends 'base.html.twig' %}
{% block body %}
<form method="POST">
    <input type="text" placeholder="Nom" name="nom">
    <input type="text" placeholder="Prénom" name="prenom">
    <input type="text" placeholder="Age" name="age">
 

    <label>Numéro de maillot</label>
   
    
    <select name="num_maillot"> <!--pour recup les données, va aller dans GET en l'abscence de précision de method http utilisé-->
        {% for i in 1..999 %}
        <option>{{i}}</option>

        {% endfor %}

    </select>
   
    <select name="equipe">
        <option value="0">Sans équipe</option>
        {% for team in teams %}
            <option value="{{team.id}}">{{team.nom}}</option>
        {% endfor %}

    </select>
    <!--à ajouter ensuite: menu de selection pour les équipes-->
    <input class="btn btn-primary btn-xs" type="submit" name="Enregistrer">
</form>

{% endblock %}